@font-face {font-family: 'Handelson';src: url('./css/fonts/zhandelson-three.otf') format('truetype'); /* Cambia il formato se necessario */font-weight: normal;font-style: normal;}
        body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}
#header1 {
    background-image:url(img/oro.png);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-style:groove;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 450px,auto;
    background-color: rgb(233,214,158);
    text-align: center;
    height: 250px;
}

.menu-container {
    padding: 10px;
}
.menu-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 15px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 768px;
}

@media (min-width: 768px) { /* Quando lo schermo è più largo di 768px */
    .menu-item {
        margin-left: 30%;
        margin-right: 30%;
    }
}

    
.menu-item img {
    width: 100%;
    display: block;
    
}
.menu-item .content {
    padding: 10px;
    text-align: center;
}
.menu-item h2 {
    margin: 10px 0;
    font-size: 1.4em;
}
.menu-item p {
    margin: 0;
    font-size: 0.9em;
    color: #666;
}
.menu-item button {
    background-color: #d35400;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}
.menu-item button:hover {
    background-color: #e67e22;
}
footer {
    background-color: #d35400;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.9em;
}
#headerTitle1{
    width: 100px;
    height: 100px;
    visibility: hidden;
    padding: 0;
    margin: 0;
}
#headertitle2{
    padding-top: 0px;
    font-family: "Merriweather Sans", sans-serif;
    letter-spacing: 2px;
    color: #000000;

}
#titleline{
    border: 0; /* Rimuove il bordo predefinito */
    border-top: 1px solid #000000; /* Aggiunge una linea sottile (1px) di colore grigio */
    padding: 0px;
    margin: 20px auto;
    margin-top: 0px;
    width: 5%;
}

.itemstext{
    font-family:Outfit, sans-serif;
}
.contatti{
    color: #333;
}

.animate__fadeInDown {
  animation-duration: 4s !important;
}

.animate__fadeIn {
  animation-duration: 4s !important;
}

#item1{
    animation: fadeInLeft 1s ;
}
#item2{
    animation: fadeInRight 1s ;
}
#item3{
    animation: fadeInLeft 1s ;
}

.contItem{
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 10%;
    margin-top: 5%;
    width: 80%;
    max-width: 768px;
}
#title1{
    text-align: center;
    font-size: 31px;
    font-family: "Merriweather Sans", sans-serif;
    letter-spacing: 1px;
    margin: 0;
    margin-bottom: 10px;
    margin-top: 0px;
    color: white;
}
#title2{
    text-align: center;
    font-size: 14px;
    font-family: "Merriweather Sans", sans-serif;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}
#title1line{
    margin-left: 111px;
    margin-right: 111px;
    margin-top: 0;
    margin-bottom: 0;
    border-color: rgba(0, 0, 0, 0.144);
    border-radius: 30px;
}
#img1{
    width: 200px;
}
#img1div{
    text-align: center;
}
#header2{
    background-color: rgba(255, 170, 0, 0.704);
}
#button{
    font-size:18px;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top: none;
    background-color: rgba(255, 255, 255, 0);
    float: inline-start;
}