*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Inter',sans-serif;
    background:black;
    overflow-x:hidden;
    color:white;
}

#bgVideo{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
    z-index:-3;
    filter:
    brightness(25%)
    blur(3px);
}

.book-btn{
  position:absolute;
  right:60px;
  background:transparent;
  border:1px solid #c7a86a;
  color:#c7a86a;
  padding:12px 22px;
  border-radius:50px;
  cursor:pointer;
  font-family:'Inter',sans-serif;
  letter-spacing:1px;
  transition:.35s;
}

.book-btn:hover{
  background:#c7a86a;
  color:black;
}

.modal{
  display:none;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  background:rgba(0,0,0,.65);
  backdrop-filter:blur(5px);
  z-index:110;
}

.modal-content{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:400px;
  background:rgba(20,20,20,.95);
  border:1px solid rgba(199,168,106,.35);
  border-radius:20px;
  padding:80px;
  text-align:center;
  box-shadow: 0 20px 50px rgba(0,0,0,.5);
}

.modal-content h2{
  color:white;
  margin-bottom:25px;
  font-family:'Inter',sans-serif;
  font-weight:500;
}

.modal-btn{
  width:100%;
  margin:10px 0;
  padding:14px;
  border:none;
  border-radius:12px;
  cursor:pointer;
  font-size:1rem;
  transition:.3s;
}

.phone-btn{
  background:#1e6fff;
  color:white;
  font-family:'Inter',sans-serif;
}

.phone-btn:hover{
  transform:translateY(-2px);
}

.whatsapp-btn{
  background:#25d366;
  color:white;
  font-family:'Inter',sans-serif;
}

.whatsapp-btn:hover{
  transform:translateY(-2px);
}

.cancel-btn{
  background:#444;
  color:white;
  font-family:'Inter',sans-serif;
}

.cancel-btn:hover{
  background:#666;
}

.overlay{
    position:fixed;
    inset:0;
    background:
    linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.5)
    );
    z-index:-2;
}

.menu-container{
    width:min(1400px,90%);
    margin:auto;
    padding-bottom:100px;
}

.hero{
    text-align:center;
    padding:80px 0;
    padding-top: 180px;
}

.subtitle{
    color:#c7a86a;
    letter-spacing:6px;
    font-size:.9rem;
}

.hero h1{
    font-family:'Playfair Display',serif;
    font-size:5rem;
    margin-top:10px;
    font-weight:600;
}

.gold-line{
    width:120px;
    height:2px;
    background:#c7a86a;
    margin:25px auto;
}

.menu-section{
    margin-top:80px;
}

.menu-section h2{
    font-family:'Playfair Display',serif;
    text-align:center;
    font-size:2.7rem;
    color:#d8b16a;
    margin-bottom:50px;
}

.cards{
    display:grid;
    grid-template-columns:
    repeat(auto-fit,minmax(320px,1fr));
    gap:38px;
}

.card{
    background:rgba(255,255,255,.06);
    backdrop-filter:blur(20px);
    border:1px solid rgba(255,255,255,.08);
    border-radius:24px;
    overflow:hidden;
    transition:.4s ease;
    box-shadow:
    0 10px 30px rgba(0,0,0,.4);
}

.card:hover{
    transform:translateY(-12px);
    border-color:#c7a86a;
}

.card img{
    width:100%;
    height:280px;
    object-fit:cover;
    transition:.6s;
}

.card:hover img{
    transform:scale(1.08);
}

.card-body{
    padding:25px;
}

.card-top{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:15px;
}

.card-top h3{
    font-size:1.3rem;
    font-weight:600;
}

.price{
    color:black;
    background:#c7a86a;
    padding:8px 14px;
    border-radius:50px;
    white-space: nowrap;
    font-weight:700;
}

.card-body p{
    color:rgba(255,255,255,.75);
    line-height:1.7;
}

.image-container{
    position:relative;
}

.info-btn{
    position:absolute;
    top:12px;
    left:12px;
    width:37px;
    height:37px;
    border-radius:50%;
    border:1px solid #c7a86a;
    background:rgba(0,0,0,.75);
    color:#c7a86a;
    font-size:20px;
    font-weight:bold;
    cursor:pointer;
    z-index:10;
    transition:.3s;
}

.info-btn:hover{
    background:#c7a86a;
    color:black;
    transform:scale(1.1);
}

.allergen-popup{
    position:absolute;
    top:55px;
    left:12px;
    width:260px;
    padding:15px;
    border-radius:18px;
    background:rgba(18,18,18,.97);
    backdrop-filter:blur(12px);
    border:1px solid rgba(199,168,106,.4);
    box-shadow:0 20px 40px rgba(0,0,0,.5);
    opacity:0;
    visibility:hidden;
    transform:translateY(-10px);
    transition:.3s;
    z-index:20;
}

.allergen-popup h4{
    color:#d8b16a;
    margin-bottom:15px;
    font-size:1.2rem;
}

.allergen-popup ul{
    list-style:none;
    padding:0;
    margin:0;
}

.allergen-popup li{
    padding:8px 0;
    color:white;
    font-size:.9rem;
}

.allergen-popup.active{
    opacity:1;
    visibility:visible;
    transform:translateY(0);
}

@media(max-width:768px){

.hero h1{
    font-size:3rem;
}

.menu-section h2{
    font-size:2rem;
}

.card img{
    height:220px;
}

}

.navbar-container{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:999;
}

.navbar{
    display:flex;
    align-items:center;
    justify-content:center;
    height:90px;
    backdrop-filter:blur(12px);
    background:rgba(0,0,0,.15);
    border-bottom:1px solid rgba(199,168,106,.15);
}

.nav-center{
    display:flex;
    gap:70px;
}

.nav-link{
    position:relative;
    text-decoration:none;
    color:white;
    font-family:'Inter',sans-serif;
    font-weight:300;
    font-size:1rem;
    letter-spacing:2px;
    text-transform:uppercase;
    transition:.3s;
}

.nav-link:hover{
    color:#c7a86a;
}

.nav-link::after{
    content:"";
    position:absolute;
    bottom:-8px;
    left:50%;
    width:0;
    height:1px;
    background:#c7a86a;
    transform:translateX(-50%);
    transition:.35s;
}

.nav-link:hover::after,
.nav-link.active::after{
    width:100%;
}

.book-btn{
    position:absolute;
    right:60px;
    background:transparent;
    border:1px solid #c7a86a;
    color:#c7a86a;
    padding:12px 22px;
    border-radius:50px;
    cursor:pointer;
    font-family:'Inter',sans-serif;
    letter-spacing:1px;
    transition:.35s;
}

.book-btn:hover{
    background:#c7a86a;
    color:black;
}

@media(max-width:768px){

    .navbar{
        height:70px;
    }

    .nav-center{
        gap:25px;
    }

    .nav-link{
        font-size:.85rem;
    }

    .book-btn{
        right:15px;
        padding:8px 14px;
        font-size:.75rem;
    }
}